# Ambientes Virtuais
venv/
.venv/
env/

# Arquivos do Python
__pycache__/
*.py[cod]

# Configurações sensíveis 
.env

# Pastas de execução do Robô
logs/
screenshots/
output/

# Arquivos temporários do Excel 
~$*.xlsx